<%- include('./includes/head.ejs') %>

</head>

<body>

    <div class="login-card-container" >
        <div class="login-card" style="margin-top:80px;">
            <div class="login-card-logo">
                <img src="./assets/img/general/logo.png" alt="logo">
            </div>
            <div class="login-card-header">
                <h1>فرم ورود</h1>
                <div>برای استفاده از پلتفرم وارد شوید ...</div>
            </div>
            <form class="login-card-form">
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">mail</span>
                    <input type="text" placeholder="ایمیل" id="emailForm" 
                    autofocus required>
                </div>
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">lock</span>
                    <input type="password" placeholder="کلمه عبور" id="passwordForm"
                     required>
                </div>

                <button type="submit">ورود</button>
                <button type="submit">ورود از طریق رمز یکبار مصرف</button>
            </form>
            <div class="login-card-footer">
                حساب کاربری ندارید؟ <a href="/singup">حساب جدید بسازید.</a>
            </div>
        </div>
    </div>

</body>

</html>