<%- include('./includes/head.ejs') %>

</head>

<body>

    <div class="login-card-container">
        <div class="login-card">
            <div class="login-card-logo">
                <img src="./assets/img/general/logo.png" alt="logo">
            </div>
            <div class="login-card-header">
                <h1>فرم ثبت نام</h1>
                <div>اطلاعات خود را با دقت وارد کنید !</div>
            </div>

            <div class="err" >
                <div class="checkbox">
                    <p></p>
                </div>
                
            </div>

            <form class="login-card-form" action="#" method="post">
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">link</span>
                    <input type="text" placeholder="نام کاربری" id="userName" name="userName" minlength="3"
                    autofocus required>
                </div>
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">mail</span>
                    <input type="email" placeholder="ایمیل" id="email" name="email"
                     required>
                </div>
                <div class="form-item" dir="rtl">
                    <span class="form-item-icon material-symbols-rounded">phone</span>
                    <input type="text" placeholder="تلفن همراه" id="phoneNumber" name="phoneNumber"
                      minlength="11"maxlength="11" required >
                </div>
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">lock</span>
                    <input type="password" placeholder="کلمه عبور" id="password" name="password"
                     required>
                </div>

                <div class="form-item-other">
                    <div class="checkbox">
                        <input type="checkbox" id="rememberMeCheckbox" checked>
                        <label for="rememberMeCheckbox">قوانین و مقررات را خواندم و با آنها موافقم </label>
                    </div>
                    
                </div>
                <button type="submit">ثبت نام</button>
            </form>
            <div class="login-card-footer">
                   <a href="/singin"> قبلا ثبت نام کردید؟ </a>
            </div>
        </div>

    </div>
   
</body>

</html>