<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">

<head>

    <!-- Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>Login Page - Hakan Web Development Co LTD.</title>

    <!-- Css Base -->
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,600,0,0">
   
</head>

<body>

    <div class="login-card-container">
        <div class="login-card">
            <div class="login-card-logo">
                <img src="./assets/img/general/logo.png" alt="logo">
            </div>
            <div class="login-card-header">
                <h1>فرم ثبت نام</h1>
                <div>اطلاعات خود را با دقت وارد کنید !</div>
            </div>
            <form class="login-card-form">
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">mail</span>
                    <input type="text" placeholder="نام کاربری" id="userName" name="userName"
                    autofocus required>
                </div>
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">mail</span>
                    <input type="email" placeholder="ایمیل" id="email" name="email"
                     required>
                </div>
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">lock</span>
                    <input type="text" placeholder="تلفن همراه" id="phoneNumber" name="phoneNumber"
                     required>
                </div>
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">lock</span>
                    <input type="password" placeholder="کلمه عبور" id="password" name="password"
                     required>
                </div>

                <div class="form-item-other">
                    <div class="checkbox">
                        <input type="checkbox" id="rememberMeCheckbox" checked>
                        <label for="rememberMeCheckbox">قوانین و مقررات را خواندم و با آنها موافقم </label>
                    </div>
                    
                </div>
                <button type="submit">ثبت نام</button>
            </form>
            <div class="login-card-footer">
                   <a href="#"> قبلا ثبت نام کردید؟ </a>
            </div>
        </div>

    </div>
   
</body>

</html>